    <footer class="footer">
      <div class="columns">
        <div class="column is-one-half">
          <div class="content">
            Carl Schirm GmbH & Co. Krüger KG
            <br>
            Bahnhofstraße 26
            <br>
            72138 Kirchentellinsfurt
            <br>
            <!-- replace by icons -->
            Telefon: +49 (0)7121 60241
            <br>
            Telefax: +49 (0)7121 60244
            <br>
            Email: <a href="mailto:info@carl-schirm.de">info@carl-schirm.de</a>
          </div>
        </div>
          <div class="column is-one-quarter">
            <div class="content">
              <a href="/impressum/">Impressum</a>
              <br>
              <a href="/datenschutz/">Datenschutz</a>
              <br>
              <a href="/sitemap.xml">Sitemap</a>
            </div>
          </div>
          <div class="column is-one-quarter has-text-centered">
            <figure>
              <img  src="{{ print "images/" .Site.Params.logoFooter.url | relURL }}"
                    width="{{ .Site.Params.logoFooter.width }}"
                    height="{{ .Site.Params.logoFooter.height }}"
                    alt="{{ .Site.Params.logoFooter.alt }}">
            </figure>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
