      <footer class="footer">
        <div class="columns">
          <div class="column is-one-half">
            <div class="content">
              Carl Schirm GmbH & Co. Krüger KG
              <br>
              Bahnhofstraße 26
              <br>
              72138 Kirchentellinsfurt
              <br>
              <!-- replace by icons -->
              Telefon: +49 (0)7121 60241
              <br>
              Telefax: +49 (0)7121 60244
              <br>
              Email: <a href="mailto:info@gewerberaum-carl-schirm.de">info@gewerberaum-carl-schirm.de</a>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="content">
              <a href="/impressum/">Impressum</a>
              <br>
              <a href="/datenschutz/">Datenschutz</a>
              <br>
              <a href="/sitemap.xml">Sitemap</a>
            </div>
          </div>
          <div class="column is-one-quarter has-text-centered">
            <figure>
              <img  src="{{ print "images/" .Site.Params.logoFooter.url | relURL }}"
                    width="{{ .Site.Params.logoFooter.width }}"
                    height="{{ .Site.Params.logoFooter.height }}"
                    alt="{{ .Site.Params.logoFooter.alt }}">
            </figure>
          </div>
        </div>
      </footer>
    </div>
    <!-- {{ template "_internal/google_analytics.html" . }} -->
    <!-- Load PhotoSwipe js if the load-photoswipe shortcode has been used -->
    {{ if ($.Scratch.Get "photoswipeloaded") }}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="/js/load-photoswipe.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js" integrity="sha256-UplRCs9v4KXVJvVY+p+RSo5Q4ilAUXh7kpjyIP5odyc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js" integrity="sha256-PWHOlUzc96pMc8ThwRIXPn8yH4NOLu42RQ0b9SpnpFk=" crossorigin="anonymous"></script>
    {{ end }}
    </body>
</html>
