<nav class="navbar" role="navigation" aria-label="main navigation">
<!-- uncomment to obtain previous navbar -->
<!-- <nav class="navbar is-light" role="navigation" aria-label="main navigation"> -->  
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img  src="{{ print "images/" .Site.Params.logo.url | relURL }}"
            width="{{ .Site.Params.logo.width }}"
            height="{{ .Site.Params.logo.height }}"
            alt="{{ .Site.Params.logo.alt }}">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMobile">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navbarMobile">
    <div class="navbar-start">

    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Gewerberäume
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/vermietung/">
            Vermietung
          </a>
          <a class="navbar-item" href="/mieter/">
            Mieter
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/kontakt/">
            Kontakt
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Unternehmen
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/neuigkeiten/">
            Neuigkeiten
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/ueber-uns/">
            Über uns
          </a>
          <a class="navbar-item" href="/historie/">
            Historie
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/impressionen/">
            Impressionen
          </a>
          <a class="navbar-item" href="/anfahrt/">
            Lageplan
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>