{{ partial "header.html" . }}

<div class="section">
  <div class="carousel" data-flickity='{ "wrapAround": true }'>
    <div class="carousel-cell"><img class="carousel-cell-image" src="/images/impressionen/cs_impressionen_01.jpg"></div>
      <div class="carousel-cell"><img class="carousel-cell-image" src="/images/impressionen/cs_impressionen_02.jpg"><div>
      <div class="carousel-cell"><img class="carousel-cell-image" src="/images/impressionen/cs_impressionen_03.jpg"><div>
    </div>
</div>

{{ partial "footer.html" . }}
