{{ partial "header.html" . }}

<div class="section">
	<div class="container">
	<div class="columns">
		<div class="column">
			<figure>
				<img src="/images/anfahrt/hochwasser.jpg">
			</figure>
		</div>
		<div class="column is-two-thirds">
			<div class="content has-text-light">
				<h3>Nur mit dem Schiff sind wir nicht erreichbar...</h3>
				<p>...jedenfalls unter normalen Umständen.</p>
				<p>Der Gewerbepark zeichnet sich durch seine zentrale Lage im Dreieck Stuttgart-Tübingen-Reutlingen aus. Durch die unmittelbar angrenzende B27 besteht eine gute Anbindung an den Großraum Stuttgart (Flughafen/Messe Stuttgart: ca. 20 Minuten Fahrzeit).</p>
				<p>Der Bahnhof mit der Bahnlinie Tübingen-Reutlingen-Stuttgart ist ebenfalls in wenigen Minuten zu Fuß erreichbar.</p>
			</div>
		</div>
	</div>
<!-- 	<div class="columns">
		<div class="column is-full">
			<div class="iframe-container">
				<iframe class="googlemap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2642.0821595876696!2d9.135124715520131!3d48.531657179256875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4799efc5b82d8425%3A0xb470f340c74e45c2!2sCarl%20Schirm%20GmbH%20%26%20Co.%20Kr%C3%BCger%20KG!5e0!3m2!1sde!2sch!4v1571213430991!5m2!1sde!2sch" allowfullscreen></iframe>
			</div>			
		</div>
	</div> -->
	<div class="columns">
		<div class="column is-full">
			<figure class="image is-16by9">
  				<iframe class="has-ratio" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2642.0821595876696!2d9.135124715520131!3d48.531657179256875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4799efc5b82d8425%3A0xb470f340c74e45c2!2sCarl%20Schirm%20GmbH%20%26%20Co.%20Kr%C3%BCger%20KG!5e0!3m2!1sde!2sch!4v1571213430991!5m2!1sde!2sch" allowfullscreen></iframe>
			</figure>
		</div>
	</div>
	</div>
</div>

{{ partial "footer.html" . }}
