{{ partial "header.html" . }}

<div class="section">
  <div class="container">
    <div class="content has-text-light">
      {{ .Content }}
    </div>
    <div class="columns is-multiline">
      {{ range $p := .Pages }}
        <div class="column is-one-quarter">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">{{ .Title }}</div>
            </div>    
            <div class="card-image">
              <figure class="image is-flex is-horizontal-center">
                <a href="{{ .Params.link | relURL }}"><img src="{{ .Params.imagepath | relURL }}" alt="Logo {{ .Title }}" loading="lazy"></a>
              </figure>
            </div>
            <div class="card-content">
              {{ .Content }}
            </div>
            <div class="card-footer">
              <div class="card-content">
                <div class="columns is-multiline">
                  {{ with .Params.emaillink }}
                  <div class="column is-half has-text-centered">
                    <a class="button is-fullwidth is-rounded is-light" href="{{ . }}" aria-label="E-Mail an {{ $p.Title }}">
                      <span class="icon"><i class="fas fa-at"></i></span>
                    </a>
                  </div>
                  {{ end }}
                  {{ with .Params.link }}
                  <div class="column is-half has-text-centered">
                    <a class="button is-fullwidth is-rounded is-light" href="{{ . }}" aria-label="Website von {{ $p.Title }}">
                      <span class="icon"><i class="fas fa-home"></i></span>
                    </a>
                  </div>
                  {{ end }}
                  {{ range .Params.phone }}
                  <div class="column has-text-centered is-full">
                    <a href="tel:{{ . | replaceRE `\(0\)` "" | replaceRE `[^+0-9]` "" }}">
                      <span class="icon"><i class="fas fa-phone"></i></span>
                      {{ . }}
                    </a>
                  </div>
                  {{ end }}
                  {{ if .Params.telefax }}
                  <div class="column has-text-centered is-full">
                      <span class="icon">
                        <i class="fas fa-fax"></i>
                      </span>
                      {{ .Params.telefax }}
                  </div>
                  {{ end }}
                </div>
<!--               <div class="tags">
                {{ range .Params.tags }}
                <span class="tag is-rounded">{{ . }}</span>
                {{ end }}
              </div> -->
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </div>  
  </div>  
</div>

{{ partial "footer.html" . }}
