@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

// Set your brand colors
$green-900: #8da78c;
$green-800: #98b098;
$green-700: #a4b9a3;
$green-600: #afc1af;
$green-500: #bbcaba;
$green-400: #c6d3c6;
$green-300: #d1dcd1;
$green-200: #dde5dd;
$green-100: #e8ede8;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$grey-dark: #292929;
$grey-lighter: #DBDBDB;

// Update Bulma's global variables
$family-sans-serif: "Fira Sans", sans-serif;
$primary: $pink;
$link: $green-600;
$link-hover: $green-900;
$dark: $green-900;
$body-color: $grey-dark;
$title-color: $green-900;
$subtitle-color: $green-600;
//$background: $grey-dark;

// Update some of Bulma's component variables
$body-background-color: $grey-dark;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$label-color: $grey-lighter;

$navbar-background-color: $green-100;
$navbar-item-color: $green-900;
$navbar-item-hover-color: $green-900;
$navbar-item-hover-background-color: $green-200;
$navbar-dropdown-item-hover-background-color: $green-400;
$navbar-dropdown-background-color: $green-200;
$navbar-divider-background-color: $grey-lighter;

$content-heading-color: $green-900;

$footer-background-color: $green-100;

// add hero background image capacity
.hero-cs {
  @extend .hero;
  	background-image: url('/images/home/gewerbepark_schirm_05.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;}

// Import only what you need from Bulma
@import "../../bulma/bulma.sass";
