{{ partial "header.html" . }}

<div class="section">
  <div class="columns is-centered">
    <div class="column is-half">
      <form name="contact" method="POST" data-netlify="true">
        <div class="field">
          <label class="label" for="contact-name">Ihr Name:</label>
          <div class="control">
            <input class="input" type="text" id="contact-name" name="name" placeholder="Vorname Nachname" required>
          </div>
        </div>
        <div class="field">
          <label class="label" for="contact-email">Ihre Email-Adresse:</label>
          <div class="control">
            <input class="input" type="email" id="contact-email" name="email" placeholder="vorname.nachname@email.de" required>
          </div>
        </div>
        <div class="field">
          <label class="label" for="contact-message">Ihre Nachricht:</label>
          <div class="control">
            <textarea class="textarea" id="contact-message" name="message" placeholder="Nachricht" required></textarea>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-link" type="submit">Abschicken</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}